<div class="container" *ngIf="residence">
    <h1>Residence Details</h1>
    <img src="{{ residence.image }}" [alt]="residence.name" height="300px" width="150px" class="card-img-top" >
    <p><b>Name : </b> {{ residence.name }} </p>
    <p><b>Address : </b> {{ residence.address }} </p>
    <p><b>Status : </b> {{ residence.status }} </p>
    <button (click)="nextResidence()">Next</button>
    <button (click)="updateResidence()">Update</button>

    <button (click)="addResidence()">Add</button>

    <!-- Message si la résidence n'est pas trouvée -->
    <div >
    